@charset "utf-8";
/*本网站由web前端开发者(薛洪刚)开发;IT昵称(小贱);QQ(1399395438)*/
/*全局样式*/
*{margin:0; padding:0;}
body{font-size:12px; font-family:"Arial";}
/*重置默认样式*/
h1,h2,h3,p,ul,il,img{margin:0; padding:0; list-style:none; border:0;}
/*公共样式*/
a:link{ color:#000; text-decoration:none;}
a:hover{ color:#ff0000;text-decoration:underline;}
a:visited{ color:#000; text-decoration:none;}
.wrapper{width:960px; margin:0 auto; overflow:hidden;}

/*header banner start*/
#headbannerbg{ width:960px; height:96px; margin:0 auto; overflow:hidden;}
#headbannerbg ul li{float:left;}

/*header nav start*/
#subnavbg{background:url(../img/subnavbg.jpg); width:960px; height:50px; margin:5px auto;
 overflow:hidden;}
#subnavbg ul li{width:160px; height:50px; line-height:50px; float:left;
 text-align:center; font-weight:bold; font-size:14px;}
#subnavbg ul li:hover{background:url(../img/subnavbg2.jpg) repeat-x; width:160px; height:50px;}
#subnavbg a:link{ color:#000; text-decoration:none;}
#subnavbg a:hover{ color:#fff;text-decoration:underline;}
#subnavbg a:visited{ color:#000; text-decoration:none;}

#navbg{background:url(../img/navbg3.jpg) repeat-x; width:960px; height:60px; margin:5px auto; overflow:hidden;}
#navbg ul li{width:160px; height:60px; line-height:60px; float:left;text-align:center; font-weight:bold; font-size:18px;}
#navbg ul li:hover{background:url(../img/navbg2.jpg) repeat-x; width:160px; height:60px;}
#navbg a:link{ color:#000; text-decoration:none;}
#navbg a:hover{ color:#fff;text-decoration:underline;}
#navbg a:visited{ color:#000; text-decoration:none;}

/*column start*/
#columnbg{ width:960px; margin:10px auto; overflow:hidden;}
.leftcolumnbg{background:#f1f4f7; width:310px; height:290px; float:left;}
.leftsidebar{background:#00adef; width:310px; height:55px; text-align:center; line-height:50px;}
.leftcolumnbg ul{width:310px; height:60px;}
.leftcolumnbg ul span{float:left; width:50px; height:50px;}
.leftcolumnbg ul li{float:left;width:255px; height:50px;  overflow:hidden;}
.middlecolumnbg{background:#f1f4f7; width:310px; height:290px; float:left; margin:0px 15px;}
.middlecolumnbg ul li{width:310px; height:50px;  margin-top:8px;overflow: hidden;}
.middlecolumnbg ul li:hover{background:#00adef; widht:310px; height:50px;}

.rightcolumnbg{background:#f1f4f7; width:310px; height:290px; float:left;}
.rightsidebar{background:#00adef; width:310px; height:55px; text-align:center; line-height:50px;}
.rightcolumnbg ul{width:310px; height:60px;}
.rightcolumnbg ul span{float:left; width:50px; height:50px;}
.rightcolumnbg ul li{float:left;width:255px; height:50px;  overflow:hidden;}


/*content graphic start*/
#contentgpicbg{width:960px; height:200px; margin:10px auto; overflow:hidden;}
#contentgpicbg ul{background:#f1f4f7;width:228px; height:200px; float:left; margin-left:10px;}
#contentgpicbg ul div{padding:8px 8px;}
#contentgpicbg ul li{width:228px; height:55px; }

/*main start*/
#newsbg{ width:960px; margin:0 auto; overflow:hidden;}
.sidenav{background:#f1f4f7; widht:960px; height:40px; border-top:#e5e5e5 1px solid;
	border-bottom:#e5e5e5 1px solid; text-align:center; line-height:40px; }
#newsbg ul{ width:140px; height:250px; float:left; margin-left:17px; margin-top:10px;}
#newsbg ul div{width:140px; height:96px;}
#newsbg ul li{width:140px; height:154px;  overflow:hidden;}
#newsbg ul li h4{height: 60px;overflow: hidden;}

#twonewsbg{ width:960px; margin:5px auto; overflow:hidden;}
.newsnavbg{background:#f1f4f7; widht:960px; height:40px; border-top:#e5e5e5 1px solid;border-bottom:#e5e5e5 1px solid; text-align:center; line-height:40px;}
#twonewsbg ul {width:185px; height:260px; float:left; border-right:#c3cbd7 1px solid; margin-left:6px;}
#twonewsbg ul div{width:180px; height:100px; margin:8px 0px;}
#twonewsbg ul li{width:180px; height:154px; overflow:hidden;}
#twonewsbg ul li h4{height: 60px;overflow: hidden;}

#demo1{ margin:0 auto; }
.jcSlider { width:956px; position:relative; height:300px; background:url(../img/sliderbg.png) no-repeat;}
.imgHide { width:956px; height:300px; overflow:hidden; position:relative; }
.imgList { height:9999%; width:9999%; position:absolute; top:0; left:0; z-index:1;}
.imgList li { position:absolute; left:0; top:0; height:300px; width:956px; list-style:none; 
display:none; overflow:hidden; }
.imgNum { position:absolute; left:0; top:0; z-index:2; display:none; }
.imgPrev,.imgNext { position:absolute; left:0; top:10px; z-index:3; display:block; 
cursor:pointer; height:300px; width:40px; }
.imgPrev { background:url(../img/navigation-previous.png) no-repeat left center;}
.imgNext { background:url(../img/navigation-next.png) no-repeat right center;}
